 /* body {
  background-image: url("../../assets/img/game2_fondo.jpg");
  background-position: center center;	  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}  */

#character{
 background-color: orange;
  width:40px;
  height:40px;
  position:absolute;
}