
#back {
	background-color: white;
	max-width: 800px;
	height: 600px;
    background-image: url("../../assets/img/game2_fondo.jpg"); 
    background: no-repeat;
	max-width: 1152px;
	height: 843px;
	margin: 0 auto;
	position: relative;
}