/* MOVIL */
@media screen and (max-width: 812px) {
    .cell1, .cell2, .cell3, .cell4, .cell5, .cell6, .cell7, .cell8, .cell9, .Complete, .cellhelp{
        display: table-cell;
        width: 100px; 
        height: 66.66px;
        /* min-height: 2em; */
        border: 1px solid white; 
        background: url(../../assets/img/REFUGI.jpg);
        background-size: 300px 200px; 
        cursor: pointer;
    }
    #puzzle{
        z-index: -3;
        position: absolute;
        top: 20%;
        left: 14%;
    }
    #win{
        display: none;
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 1000;
        font-family: 'Special Elite', cursive;
    }
    .info{
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        width: 28%;
        margin-top: 1%;
        margin-left: 5%;
        text-align: center;
        font-weight: bold;
    }
    #winContinue{
        display: none;
        position: absolute;
        background-color: transparent;
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        width: 60%;
        top: 60%;
        left: 20%;
        z-index: 1000;
        height: 19px;
    }
    #winContinue h1{
        font-size: 13px;
        font-family: 'Special Elite', cursive;
    }
    .help{
        display: none;
        width: 10%;
        margin-left: 4%;
    }
    .option{
        width:100%;
        margin-top: 2%;
        float: left;
    }
    .option p{
        margin-bottom: 1%;
        margin-top: 1%;
    }
}
/* ORDENADOR */
@media screen and (min-width: 813px) {

    .cell1, .cell2, .cell3, .cell4, .cell5, .cell6, .cell7, .cell8, .cell9, .Complete, .cellhelp{
        display: table-cell;
        width: 333.33px; 
        height: 200px;
        /* min-height: 2em; */
        border: 1px solid white; 
        background: url(../../assets/img/REFUGI.jpg);
        background-size: 1000px 600px; 
        cursor: pointer;
    }
    #puzzle{
        z-index: -3;
        position: absolute;
        top: 10%;
        left: 23%;
    }
    #win{
        display: none;
        position: absolute;
        top: 25%;
        left: 38%;
        z-index: 1000;
        font-family: 'Special Elite', cursive;
    }
    .info{
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        height: 40px;
        width: 100%;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
    }
    #winContinue{
        background: transparent;
        display: none;
        position: absolute;
        border-radius: 25px;
        border-style: solid;
        border-color: white;
        width: 40%;
        top: 70%;
        left: 30%;
        z-index: 1000;
        outline:none;
    }
    #winContinue:hover{
        cursor: pointer;
        background-color: black;
        text: white;
        border-color: transparent;
       
    }
    #winContinue h1{
        margin-top: 3%;
        font-family: 'Special Elite', cursive;
    }
    .helps{
        float: left;
        margin-top: 5%;
        width: 10%;
        margin-left: 3%;
    }
    .option{
        width:100%;
        margin-top: 10%;
        text-align: center;
    }
    .option p{
        margin-top: 60%;
    }
}

.cell1 {background-position: left top;}
.cell2 {background-position: center top;}
.cell3 {background-position: right top;}
.cell4 {background-position: left center;}
.cell5 {background-position: center center;}
.cell6 {background-position: right center;}
.cell7 {background-position: left bottom;}
.cell8 {background-position: center bottom;}
.cell9 {background: white; cursor: default;} 
.Complete {background-position: right bottom;}
.cellhelp {background: red; cursor: default; float: left;}





