html{
    font-size: 15px;
}
body{
    background-image: url(../assets/img/background.jpg);
}
.colorSecundario{
    color: #ee2b47;
}
.imagenLateral{
    margin-top: 10%;
}

.fuente{
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
}

.titulo{
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
}

h2{
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
}

h3{
    font-family: 'Special Elite', cursive;
}


#pProgress{
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
}

#pHistoria{
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
}

#imgDifuminada{
    border: 2px solid #000;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}