    
html, body{

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}   
    
    
.container-fluid {
    	
    display: flex; 
    justify-content: center;	
}

#Title{
	font-size: 90px;
	margin-bottom: 60px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}