    
html, body{
    background-image: url(../assets/img/textura-negativo-1.jpg);
    background-position: bottom;
    height: 100%;
}   

.container-fluid {
    	
    display: flex; 
    justify-content: center;	
}

#Title{
    
	font-size: 90px;
    margin-bottom: 60px;
    font-family: 'Special Elite', cursive;
}

#indexText{
	font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
}

#text{
	font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;

}

#myVideo {
    position: initial;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.colorSecundario{
    color: #ee2b47;
}

.titulo{
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
    display: inline;
}

#imgContext{
    border: 2px solid #000;
    margin-top: 20%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

.contenedor{
    height: 100px;
}

.prueba{
    transform: translate(0px, -110%);
}

.texto{
    margin-top: -39%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.button{
    margin-top: 5%;
}

#botonBajar{
    margin-top: 23%;
   
}
#section03 a {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -23px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #section03 a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #section03 a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 58px;
    height: 58px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.3);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.3);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.3);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  video.container-fluid{
      margin: 0px;
      padding: 0px;
  }
