<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../Styles/Games.css">
    <link rel="stylesheet" href="../../Styles/Games/puzzle.css">

 
</head>
<body>
    <div id="puzzle">
        <div id="p0" class="piezas"><img src="" /></div>
        <div id="p1" class="piezas"><img src="" /></div>
        <div id="p2" class="piezas"><img src="" /></div>
        <div id="p3" class="piezas"><img src="" /></div>
        <div id="p4" class="piezas"><img src="" /></div>
        <div id="p5" class="piezas"><img src="" /></div>
        <div id="p6" class="piezas"><img src="" /></div>
        <div id="p7" class="piezas"><img src="" /></div>
        <div id="p8" class="piezas"><img src="" /></div>
        <div id="p9" class="piezas"><img src="" /></div>
        <div id="p10" class="piezas"><img src="" /></div>
        <div id="p11" class="piezas"><img src="" /></div>
        <div id="p12" class="piezas"><img src="" /></div>
        <div id="p13" class="piezas"><img src="" /></div>
        <div id="p14" class="piezas"><img src="" /></div>
        <div id="p15" class="piezas"><img src="" /></div>
    </div>

    <script src="../../scripts/games/puzzle.js"></script>
</body>
</html>